@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .wrapper{
    max-width: 1240px;
  } 
}

@layer base{
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Caesar Dressing';
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/caesar-dressing-v21-latin-regular.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* abhaya-libre-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 800;
    src: url(../../fonts/abhaya-libre-v17-latin-800.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/lora-v35-cyrillic_latin-regular.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* tenor-sans-regular - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/tenor-sans-v19-cyrillic_latin-regular.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/yeseva-one-v22-cyrillic_latin-regular.woff2) format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

*::-webkit-scrollbar{
  background: #220629;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb{
  background-color: #9747FF;
  border-radius: 10px;
}

.none {
  display: none;
}